	body	{

			background-color: white;
			font-size: 140px;


			}

	.header {

			font-size: 45px;
			color: grey;
			text-align: center;

			}

	a 		{

			text-decoration: none;
			font-size: 40px;
			color: grey;
			
			}

	

	p		{

			color: grey;
			font-size: 45px;

			}
